email-validator==2.1.0
flask==3.0.0
flask-dance==7.0.0
flask-login==0.6.3
flask-sqlalchemy==2.5.1
gunicorn==23.0.0
matplotlib==3.8.2
mysqlclient==2.1.1
oauthlib==3.2.2
pyjwt==2.8.0
sqlalchemy==1.4.46
weasyprint==60.2
werkzeug==2.2.3
xhtml2pdf==0.2.11